@import url('reset.css');

body{
	background-color: #eee;
	font-family: Arial;
}

.out{
	width: 1200px;
	background-color: #fff;
	margin: 0 auto;
}

img{
	display: block;
}

/* ------------- table --------------- */






















